/* Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:wght@500&family=Roboto&family=Roboto+Condensed:wght@700&display=swap');

/* Basic rules all pages */

body {
    margin: 0px;
    background-color: #EDE9E9;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

header {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}

#back-button img {
    width: 8vw;
}

#reis-rust img {
    width: 24vw;
}

.index-header {
    flex-direction: row-reverse;
}

.index-header img {
    width: 8vw;
}

.index-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.index-main button {
    width: 70vw;
}

button {
    background-color: #EDE9E9;
}

/* Basic exc. index */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

input {
    background-color: #FFFFFF;
}

#submit-button {
    display: flex;
    float: right;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    padding: 1rem;
    font-size: 1.5rem;
}


/* modal */

.modal {
    opacity: 0;
    transition: all 0.7s ease;
    display: flex;
    align-items: flex-start;
    justify-content: right;
    border: none;
    border-radius: 16px;
    box-shadow: 0 16px 22px 0 rgba(0, 0, 0, 0.6);
    padding: 50px;
}

.modal[open] {
    opacity: 1;
    transition-delay: 0s;
}

.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}


/* tijdsplanner */

.departure-arrival-toggle {
    display: inline-block;
}

.departure-arrival-toggle input[type="radio"] {
    display: none;
}

.departure-arrival-toggle label {
    display: inline-block;
    padding: 0.5rem;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0rem 2rem 2rem 0rem;
    width: 20vw;
    text-align: center;
}

.departure-arrival-toggle label:first-of-type {
    border-radius: 2rem 0rem 0rem 2rem;
}

/* Favoriete routes */

.delete {
    display: flex;
    justify-content: flex-end; /* Align to the end of the flex container (right) */
    align-items: flex-start; /* Align to the start of the flex container (top) */
    margin: 0;
    position: absolute; /* Position absolutely within the container */
    top: 0.5rem; /* Position at the top of the container */
    right: 0.8rem; /* Position at the right of the container */
    padding: 0; /* Remove padding */


}

.route-blue img {
    height: 1.5rem;
}


/* Route overzicht */

/**/


/* Blue */

.blue-text {
    color: #1A2F47;
}

    /* index */
.blue {
    background-color: #98C1D9;
    color: #1A2F47;
}

.header-blue {
    background-color: #98C1D9;
}

.button-blue {
    color: #1A2F47;
    border: #1A2F47 solid 0.15rem;
    border-radius: 2rem;
    padding: 1rem;
    font-size: 1.5rem;
}

.submit-button-blue {
    background-color: #cfe1eb;
    color: #1A2F47;
    border: #1A2F47 solid 0.15rem;
    border-radius: 2rem;
    padding: 1rem;
    font-size: 1.5rem;
}

.index-main img {
    width: 70vw;
}

    /* routeplanner */
input {
    color: #1A2F47;
    border: #1A2F47 solid 2px;
    border-radius: 2rem;
    padding: 0.5rem;
    width: 50vw;
    height: 5vh;
    font-size: 1.5rem;
}

.opslaan {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    margin-left: 13rem;
}

#opslaan {
    width: 1rem;
    height: 1rem;
}

.opslaanText {
    margin-top:-0.3rem;
    font-size: 1.5rem;
}

    /* tijdsplanner */

#form2 {
    gap: 0.5rem;
}

.departure-arrival-toggle label {
    border: 1px solid #1A2F47;
}

.departure-arrival-toggle input[type="radio"]:checked + label {
    background-color: #4E6A8A;
    color: #EDE9E9;
}


    /* favorieteroutes */

.route-blue {
    position: relative; /* Add this line to set position to relative */
    padding: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 50%;
    margin-top: 2rem;
    border-radius: 2rem;
    border: 0.25rem solid #1A2F47;
    background-color: #cfe1eb;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Pink */

/* Purple */

/* Green */